<div class="container">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <h2 class="text-center">この神絵は存在しません。</h2>
      </div>
    </div>
  </div> 

</div>

