<div class="container">

  <div class="panel panel-default" >
    <div class="panel-heading">
      <h3>更新履歴</h3>
    </div>
    <div class="panel-body" >
      
      <div class="row">
        <div class="col-xs-12">

        <p>6/6</p>
          <ul>
            <li>Slackに通知する際のアイコンを変更しました。（作成してくださったgireさんに感謝）</li>
          </ul>
        </div>
      </div>

       
      <div class="row">
        <div class="col-xs-12">

         <p>5/14</p>
          <ul>
            <li>よさ機能を追加しました。</li>
            <li>自分の投稿した絵に他の人から新たによさが付いた場合、トップページに表示されるようになりました。</li>
            <li>タグ検索ページのレイアウトを調整しました。</li>
          </ul>
        </div>
      </div>

     <div class="row">
        <div class="col-xs-12">
          <p>5/6</p>
          <ul>
            <li>tegaki_duページにて、ページを離れる際に警告を出すように変更しました。</li>
            <li>tegaki_duから投稿した絵の保存形式が.blobになっていたのを.pngに修正しました。</li>
            <li>tegaki_duページのレイアウトを調整しました。</li>
            <li>コメントの時刻表示を修正しました。</li>
            <li>自分の投稿した絵に他の人から新たにコメントが付いた場合、トップページに表示されるようになりました。</li>
          </ul>
        </div>
      </div>

     <div class="row">
        <div class="col-xs-12">
          <p>5/4</p>
          <ul>
            <li>tegaki_du機能を追加しました。</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p>5/2</p>
          <ul>
            <li>アップロードの際にSlackに通知を飛ばせるようにしました。</li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <p>5/1</p>
          <ul>
            <li>このページを追加しました。</li>
            <li>グローバル時刻になっていたのを修正しました。新しく投稿された絵より適用されます。</li>
            <li>一番最初の画面に最新の絵が表示されるようにしました。</li>
            <li>複数行に連なるサムネイル表示が崩れてしまう問題を解決しました。</li>
            <li>タイトル・キャプション・タグに文字数制限を付け、キャプションを入力必須対象から外しました。</li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <p>4/30</p>
          <ul>
            <li>God Illust Uploader の公開を開始しました。</li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>


</div>
