<div class="container">

  <div class="panel panel-default" >
    <div class="panel-heading">
      <h3>更新履歴</h3>
    </div>
    <div class="panel-body" >
      <div class="row">
        <p>5/1</p>
        <ul>
          <li>グローバル時刻になっていたのを修正しました。新しく投稿された絵より適用されます。</li>
          <li>一番最初の画面に最新の絵が表示されるようにしました。</li>
          <li>複数行に連なるサムネイル表示が崩れてしまう問題を解決しました。</li>
          <li>タイトル・キャプション・タグに文字数制限を付け、キャプションを入力必須対象から外しました。</li>
        </ul>
      </div>
      <div class="row">
        <p>4/30</p>
        <ul>
          <li>God Illust Uploader の公開を開始しました。</li>
        </ul>
      </div>
    </div>
  </div>


</div>
