<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label>タイトル(必須)</label>
      <input type="text" name="title" maxlength="<%= maxtitlelength %>" class="form-control" placeholder="タイトルを入力して下さい。" required>
    </div>      
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label>キャプション</label>
      <input type="text" name="caption" maxlength="<%= maxcaptionlength %>" class="form-control" placeholder="この絵の説明を入力してください。">
    </div>      
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label>タグ 半角カンマ(,)で区切ると複数入力できます。</label>
      <input type="text" name="tags" class="form-control" placeholder="例:食べ物,女の子,メカ" maxlength="<%= maxtaglength %>" >
    </div>      
  </div>
</div>


