<script type="text/javascript" src="<%= uri( '/js/time.js',false ) %>"></script>
<div class="container">

  <div class="jumbotron">
    <div class="row-fluid">
      <p>だれだれの作品置場</p>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" >
      <p>アップロードされた画像</p>
    </div>
    <div class="panel-body">
      <div class="row-fluid"> 
        <% @images.each do |i| %>
          <div class="col-md-4">
            <a href="<%= uri(@session.imagepath.gsub( 'public/' , '' ) + i,false) %>" class="thumbnail">
              <img width=""  src="<%= uri(@session.imagepath.gsub('public/','') + i , false ) %>">
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div> 

</div>

