<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <p>タグまとめ</p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12" >
          <% @tags.each do |t| %>
            <% if t.folders.size > 0 then %>
              <div class="col-md-3">
                <a href="<%= uri( '/searchbytag/' + t.id.to_s ,false ) %>" type="button" class="btn btn-default btn-block" ><%= t.name %>( <%= t.folders.size %> )</a>
              </div>
            <% end %>
          <% end %>
        </div>
       </div>
    </div>
  </div>

</div>
