<script type="text/javascript" src="<%= uri( "/tegaki.js" , false ) %>" ></script>
<div class="container" >

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <canvas id="canvas" width="640px" height="480px" >このブラウザはhtml5に対応していません。</canvas> 
      </div>
    </div>
  </div>

</div>
