<%== erb :illustinfoform %>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input type="checkbox" name="isslack" >
      <label>Slackに通知する</label>
    </div>
    <div class="form-group">
      <input type="checkbox" name="isgyazo" checked  disabled >
      <label name="gyazo">サムネイルを表示する(Gyazoに自動的に投稿されます)</label>
    </div>
    <div class="form-inline">
      <label name="channel" disabled >投稿先のチャンネル(迷惑厳禁！) #</label>
      <input type="text" name="channel" class="form-control" placeholder="graphics" maxlength="21" pattern="^[0-9a-z!&quot;#$%&amp;@'()*+,./_-]+$" disabled >
    </div>
  </div>
</div>

<script>
$( function(){
  $('input[name= isslack]').change(function(){
    if ($(this).is(':checked')) {

      $('input[name=isgyazo]').removeAttr( 'disabled' ).focus();
      $( 'label[name=gyazo]' ).removeClass( 'disabled' );

      $('input[name=channel]').removeAttr('disabled').focus();
      $('input[name=channel]').attr('required','required');
      $('label[name=channel]').removeClass('disabled');
    
    }else {
 
      $('input[name=isgyazo]').attr( 'disabled' , 'disabled' );
      $( 'label[name=gyazo]' ).addClass( 'disabled' );

      $('input[name=channel]').attr('disabled','disabled');
      $('input[name=channel]').removeAttr('required');
      $('label[name=channel]').addClass('disabled');
    
    }
  });
});
</script>
