<script type="text/javascript" src="<%= uri( '/js/upload.js',false ) %>"></script>
<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <p>画像のアップロード</p>
    </div>     
 
    <div class="panel-body" id="illustupload">

      <form method="POST" action="<%= uri( '/uploadillust',false ) %>" enctype="multipart/form-data">
        <div class="row">
          <div class="input-group">
            <input type="file" name="illusts[]" accept="image/*"  required  multiple  >
            
            <%# 
                <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="selectillust"><i class="glyphicon glyphicon-folder-open"></i></button>
            </span>
            <input id="illustcover" type="text"class="form-control" placeholder="ファイルを選択してください。" disabled>        
            %>
          </div>
          <div>
            <p>最大で10MBまでのファイルをアップロードできます。</p>
          </div>
        </div>

        <%== erb :uploadform %>

        <div class="row">
          <button type="submit" class="btn btn-success center-block" >投稿</button>
          <%# <button type="submit" onclick="tweet(this.form, @session.id  );" class="btn btn-primary col-md-6" >tweet</button> %>
        </div>
      </form>
    </div> 

  </div>

</div>

