<script type="text/javascript" src="<%= uri( '/js/upload.js',false ) %>"></script>
<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <p>画像のアップロード</p>
    </div>     
 
    <div class="panel-body" id="illustupload">

      <form method="POST" action="<%= uri( '/uploadillust',false ) %>" enctype="multipart/form-data">
        <input type="file" name="illust" accept="image/*"  required style="display:none;" >
        <div class="row">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="selectillust"><i class="glyphicon glyphicon-folder-open"></i></button>
            </span>
            <input id="illustcover" type="text" class="form-control" placeholder="ファイルを選択してください。" disabled>        
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>タイトル</label>
            <input type="text" name="title" class="form-control" placeholder="タイトルを入力して下さい。" required>
          </div>      
        </div>

        <div class="row">
          <div class="form-group">
            <label>キャプション</label>
            <input type="text" name="caption"  class="form-control" placeholder="説明してください。" required>
          </div>      
        </div>
        
        <div class="row">
          <div class="form-group">
            <label>タグ</label>
            <input type="text" name="tags" class="form-control" placeholder="半角カンマ(,)で区切ってタグを入力してください。">
          </div>      
        </div>
        
        <div class="row">
          <button type="submit" class="btn btn-success center-block" >投稿</button>
          <%# <button type="submit" onclick="tweet(this.form, @session.id  );" class="btn btn-primary col-md-6" >tweet</button> %>
        </div>
      </form>
    </div> 
 


  </div>

</div>

